# Ignorer les données lourdes
Train/
Test/

# Ignorer les fichiers temporaires Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Ignorer les fichiers système
.DS_Store
Thumbs.db